.header{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  img{
    width: 500px;
    height: 300px;;
  }
}

h1 {
  color: red;
}
h3 {
  text-align: center;
}
.price-tag {
  display: flex;
  justify-content: space-around;
  .red-cost, .blue-cost, .green-cost {
    position: relative;
    img {
      width: 100px;
    }
    P {
      position: absolute;
      top: 50px;
      left: 35px;
      font-size: 25px;
      // color: black
    }
  }
}
