<div class="form-group" *ngIf="childSelectedKeg">
    <label>Edit Keg Information
      <input class="form-control" [(ngModel)]="childSelectedKeg.name">
      <input class="form-control" [(ngModel)]="childSelectedKeg.brewer">
      <input class="form-control" [(ngModel)]="childSelectedKeg.price">
      <input class="form-control" [(ngModel)]="childSelectedKeg.abv">
      <input class="form-control" [(ngModel)]="childSelectedKeg.img">
      <input class="form-control" [(ngModel)]="childSelectedKeg.quantity">
      <button (click)="finishedEditing()">Done</button>
    </label>
</div>
