<div class="form-group" *ngIf="selectedKeg">
    <label>Edit Keg Information
      <input class="form-control" [(ngModel)]="selectedKeg.name">
      <input class="form-control" [(ngModel)]="selectedKeg.brewer">
      <input class="form-control" [(ngModel)]="selectedKeg.price">
      <input class="form-control" [(ngModel)]="selectedKeg.abv">
      <input class="form-control" [(ngModel)]="selectedKeg.img">
      <input class="form-control" [(ngModel)]="selectedKeg.quantity">
      <button (click)="finishedEditing()">Done</button>
    </label>
</div>
